 <!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->

 <%- include('../partials/headeradmin.ejs') %>
 
 <!-- /Page Header -->
 <div class="row">
    <div class="col-sm-12">
        <div class="card">
            
            <div class="card-body">
                <h4 class="text-primary text-center">Appointments Lists</h4>
                <div class="table-responsive">
                    
                    <br>
                    <table class="datatable table table-hover table-center mb-0">
                        <thead>
                            <tr>
                                <th>Doctor Name</th>
                                <th>Speciality</th>
                                <th>Patients Name</th>
                                <th>Age</th>
                                <th>Appointments Date</th>
                                <th>Appointments Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%if(adminappointlist.length==0){ %>
                                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                  </symbol>
                                </svg>
                                <div class="alert alert-warning d-flex align-items-center" role="alert">
                                  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                  <div>
                                    Field is Empty: 'There is no Any Appointments !..'
                                  </div>
                                </div>
                         <% }else{%>
                            <%adminappointlist.forEach(el=>{%>
                            <tr>
                                <td>
                                    <h5 class="fs-6"><%=el.doctor.name%></h5> 
                                </td>
                                <td><%=el.speciality %></td>
                                <td><h5 class="fs-6"><%=el.name %></h5></td>
                                <td><%=el.Age %></td>
                                <td><small><%=el.date.toLocaleString()%></small></td>
                                <td><p class="text-success">Confirmed</p></td>
                            </tr>
                            <% }) %> 
                            <% } %>
                        </tbody>
                    </table>
                    
                   
                </div>
            </div>
           
        </div>
    </div>
</div>

</div>
</div>
<!-- /Page Wrapper -->