<div class="container-xxl position-relative bg-white d-flex p-0">
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    
    <!-- Spinner End -->
    <!-- Sidebar Start -->
<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="#" class="navbar-brand mx-4 mb-3">
            <h1 class="m-0 text-primary"><i class="far fa-hospital me-0"></i>Admin</h1>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">Admin</h6>
                
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a href="/admin" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
            <a href="/admin/admindoctor" class="nav-item nav-link"><i class="fa fa-user-md"></i>Doctors</a>
            <a href="/admin/adminuserlist" class="nav-item nav-link"><i class="fa fa-user"></i>Users</a>
            <a href="/admin/adminpatients" class="nav-item nav-link"><i class="fa fa-wheelchair"></i>Patients</a>
            <a href="/admin/adminappointment" class="nav-item nav-link"><i class="fas fa-edit"></i>Appointments</a>
            <a href="#" class="nav-item nav-link"  data-toggle="modal" data-target="#myModal<%=admin1._id%>"><i class="fas fa-wallet me-2"></i>Wallet<br><span>Rs: <%=admin1.wallet%>   </span></a>
        </div>
    </nav>
</div>
<!-- Sidebar End -->

<!-- modal -->
<div class="modal fade" id="myModal<%=admin1._id%>" role="dialog">
    <div class="modal-dialog">
        <div class="card">
               <div class="card-title text-center">
                   <h2><%=admin1.name%> </h2>
               </div>
               <div class="card-text text-center">
                   <h4>Balance: <%=admin1.wallet%> </h4>
               </div>
           </div>
    </div>
</div> 
<!-- modal -->

<!-- Content Start -->
<div class="content">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
        <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
            <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
        </a>
        <a href="#" class="sidebar-toggler flex-shrink-0">
            <i class="fa fa-bars"></i>
        </a>
        <div class="navbar-nav align-items-center ms-auto">
            <li class="nav-item dropdown">
                <a
                class="nav-link dropdown-toggle hidden-arrow"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-mdb-toggle="dropdown"
                aria-expanded="false"
                >
                
                  <i class="fas fa-bell"></i>
                  <span class="badge rounded-pill badge-notification bg-danger"><%=msg%></span>
                </a>
                <ul
                  class="dropdown-menu dropdown-menu-end"
                  aria-labelledby="navbarDropdownMenuLink"
                >
                  <li>
                    <p class="dropdown-item">Doctors  <span class="badge rounded-pill badge-notification bg-primary"><%=doccount%></span></p>
                  </li>
                  <li>
                    <a class="dropdown-item" href="">Appointments  <span class="badge rounded-pill badge-notification bg-primary"><%=appointcount%></span></a>
                  </li>
                </ul>
              </li>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <img class="rounded-circle me-lg-2" src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" alt="" style="width: 40px; height: 40px;">
                    <span class="d-none d-lg-inline-flex">Admin</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                    <a href="/admin/logout" class="dropdown-item">Log Out</a>
                </div>
            </div>
        </div> 
    </nav>
        <!-- our lists -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-user-md fa-3x text-primary"></i>
                        <div class="ms-3">
                         <p class="mb-2">Doctors</p>
                         <h6 class="mb-0"><%= doccount%></h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-wheelchair fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Patients</p>
                            <h6 class="mb-0"><%= patcount %> </h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fas fa-edit fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Appointments</p>
                            <h6 class="mb-0"><%= appointcount%> </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- list End -->



        <!-- doctors lists -->
        <div class="container-fluid pt-4 px-4">
            <div class="bg-light text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Today's Doctors</h6>
                    <form class="d-none d-md-flex ms-4">
                        <input class="form-control border-0" type="search" placeholder="Search">
                    </form>
                    <a href="">Show All</a>
                </div>
                <div class="table-responsive">
                    <table class="table text-start align-middle table-bordered table-hover mb-0">
                        <thead>
                            <tr class="text-dark">
                                <th scope="col">Name</th>
                                <th scope="col">Department</th>
                                <th scope="col">Qualification</th>
                                <th scope="col">Earnings</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%doctorslists.forEach(el=>{%>
                                <% if (el.access) { %>
                                 
                            <tr>
                                <td> Dr.<%= el.name%></td>
                                <td><%= el.speciality%></td>
                                <td><%= el.qualification%></td>
                                <td> ₹.<%= el.wallet%></td>
                                <td><a class="btn btn-md btn-primary" href="/admin/doctorsedit/<%=el._id%> ">Edit</a>
                                <a class="btn btn-md btn-danger" href="/admin/deletedoctors/<%=el._id%>"onclick="return deletebtn()">Delete</a></td>
                            </tr>
                            <% } %>
                            <%}) %> 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Recent Sales End -->
    </div>
    <!-- Content End -->
</div>
<script>
function deletebtn(){
    alert('Are you sure Want to delete this Doctor?')
}
</script>
