<div class="container-xxl position-relative bg-white d-flex p-0">
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->

    
 <!-- Sidebar Start -->
 <div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="#" class="navbar-brand mx-4 mb-3">
            <h1 class="m-0 text-primary"><i class="far fa-hospital me-0"></i>Doctor</h1>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">Jhon Doe</h6>
                <span>Admin</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a href="/doctor" class="nav-item nav-link"><i class="fas fa-edit"></i>Appointments</a>
            <a href="/doctor/doctorbookings" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Bookings</a>
            <a href="/doctor/doctormypatients" class="nav-item nav-link"><i class="fa fa-wheelchair"></i>My Patients</a>
            <a href="/doctor/doctor-results" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Results</a>
            <a href="#" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Wallet<br><span>Rs:</span></a>
            
        </div>
    </nav>
</div>
<!-- Sidebar End -->
<%- include('../partials/headerdoctor.ejs') %>

        <!-- doctors lists -->
        <div class="container-fluid pt-4 px-4">
            <h2 class="mb-3 text-center">Today's Appointments</h2>
            <div class="bg-light text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    
                    <a href="">Show All</a>
                </div>
                <div class="table-responsive">
                    <table class="table text-start align-middle table-bordered table-hover mb-0">
                        
                        <thead>
                            <div class="d-flex justify-content-around">
                            <!-- <a href="/doctor" class="btn btn-primary">Today</a> -->
                            <a href="/doctor/doc-upcomingappoint" class="btn btn-primary">Upcoming</a>
                            <a href="/doctor/doctorconsulted" class="btn btn-primary">Consulted</a>
                        </div>
                        </thead>
                    </div>
                        <thead>
                            <tr class="text-dark">
                                <th scope="col">App Date</th>
                                <th scope="col"> Patient Name</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%applist.forEach(el=>{%>
                            <tr>
                                <td>Date : <%= el._id.date.toLocaleString()%> </td> 
                                <td><%= el._id.name%></td>
                                <td><%= el._id.ph %> </td>
                                <%if(el._id.consultations=="consulted"){ %> 
                                    <td><p class="text-success">⬤Consulted</p></td>
                                    <%}else{%> 
                                        <td><a class="btn btn-sm btn-primary" href="/doctor/consultreciept/<%=el._id._id%>">Consult</a></td>
                                        <% } %> 
                            </tr>
                            <% }) %> 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Recent Sales End -->
    </div>
    <!-- Content End -->
</div>