<!-- header -->
<!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->
 <!-- Navbar Start -->
 <header>
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 wow fadeIn" data-wow-delay="0.1s">
        <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h1 class="m-0 text-primary"><i class="far fa-hospital me-3"></i>Care Clinic</h1>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="/" class="nav-item nav-link active">Home</a>
                <a href="/about" class="nav-item nav-link">About</a>
                <a href="/contactus" class="nav-item nav-link">Contact</a>
            </div>
                  </div>
                </div>
            
             <a href="/appointment" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block">Appointment<i class="fa fa-arrow-right ms-3"></i></a>
        </div>
    </nav>
    </header>
<!-- content -->


<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <div class="row">
        <form action="/editprofile/<%=el._id%>" method="post" enctype="multipart/form-data">
          <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body">
                    <div class="col-mb-4">
                        <!-- ibadnnnnn -->
                        <div class="container">
                            <h5 class="text-center">Upload Image</h5>
                            <div class="avatar-upload">
                                <div class="avatar-edit">
                                    <input type='file' id="imageUpload" name="image"/>
                                    <label for="imageUpload"></label>
                                </div>
                                <div class="avatar-preview">
                                    <div id="imagePreview" style="background-image: url('../images/<%=el.image%>');">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <style>
                           
                        .avatar-upload {
                        position: relative;
                        max-width: 205px;
                        margin: 50px auto;
                        }
                        .avatar-upload .avatar-edit {
                        position: absolute;
                        right: 12px;
                        z-index: 1;
                        top: 10px;
                        }
                        .avatar-upload .avatar-edit input {
                        display: none;
                        }
                        .avatar-upload .avatar-edit input + label {
                        display: inline-block;
                        width: 34px;
                        height: 34px;
                        margin-bottom: 0;
                        border-radius: 100%;
                        background: #009cff;
                        border: 1px solid transparent;
                        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                        cursor: pointer;
                        font-weight: normal;
                        transition: all 0.2s ease-in-out;
                        }
                        .avatar-upload .avatar-edit input + label:hover {
                        background: #f1f1f1;
                        border-color: #d6d6d6;
                        }
                        .avatar-upload .avatar-edit input + label:after {
                        content: "\f040";
                        font-family: 'FontAwesome';
                        color: #110f0f;
                        position: absolute;
                        top: 7px;
                        left: 0;
                        right: 0;
                        text-align: center;
                        margin: auto;
                        }
                        .avatar-upload .avatar-preview {
                        width: 192px;
                        height: 192px;
                        position: relative;
                        border-radius: 100%;
                        border: 6px solid #009cff;
                        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
                        }
                        .avatar-upload .avatar-preview > div {
                        width: 100%;
                        height: 100%;
                        border-radius: 100%;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        }

                        </style>
                        <div class="mb-3">
                        <input class="form-control" name="name" type="text" placeholder="Your name" value="<%=el.name%>" required>
                    </div>
                    <!-- Form Row-->
                    <div class="row gx-3 mb-3">
                        <!-- Form Group (first name)-->
                        <div class="col-md-6">
                            <input class="form-control" name="email" type="email" placeholder="Your Email" value="<%=el.email%>" required>
                        </div>
                        <!-- Form Group (last name)-->
                        <div class="col-md-6">
                            <input class="form-control" type="tel" name="ph" placeholder="Your Phone" value="<%=el.ph%>" required>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <textarea class="form-control" name="address" placeholder="Your address" value="<%=el.address%>" required></textarea>
                    </div> 
                    <!-- Form Row        -->
                    <div class="row gx-3 mb-3">
                        <!-- Form Group (organization name)-->
                        <div class="mb-3 w-50">
                            <input class="form-control" type="number" maxlength="3" placeholder="Your Age" name="age" value="<%=el.age%>" required>
                        </div>
                        <!-- Form Group (location)-->
                        <div class="col-md-6">
                            <input class="form-control" name="group" type="text" placeholder="Blood Group" value="<%=el.group%>" required>
                        </div>
                    </div>
                    <!-- Save changes button-->
                    <button class="btn btn-primary" type="submit">Save changes</button>
                </div>
             </div>
          </div>
       </div>
      </form>
   </div>
</div>
<script>
    function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
            $('#imagePreview').css('background-image', 'url('+e.target.result +')');
            $('#imagePreview').hide();
            $('#imagePreview').fadeIn(650);
        }
        reader.readAsDataURL(input.files[0]);
    }
}
$("#imageUpload").change(function() {
    readURL(this);
});
</script>

<!-- footer -->
<%- include('../partials/footer.ejs') %>