<!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->

<%- include('../partials/header.ejs') %>


<h1 class="text-center mt-3">Results</h1>
<div class="container-fluid row">
  <%if(result.length==0){ %>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </symbol>
    </svg>
    
    <div class="alert alert-warning d-flex align-items-center" role="alert">
      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
      <div>
        Field is Empty: 'There is no Any Medical Reports'
      </div>
    </div>
    <%}else {%> 
    <% result.forEach(el=>{%>
    <div class="card col-md-3 mx-3">
      <div id="invoice<%=el._id%>" onclick="invoice('<%= el._id %>')">
      <div class="card-body">
        <h2 class="text-primary text-center">CARE CLINICK</h2><hr style="height: 2px; color: black;">
       <h5> MEDICAL REPORT</h5>
        <hr>
        <h6 class="fs-6">NAME: <%=el.name%></h6>
        <h6 class="fs-6">AGE: <%=el.Age%> </h6>
        <p class="fs-6">PRESCRIPTION:<li><%=el.prescription%></li></p>
      </div>
      <hr>
      <p class="text-success text-end" style="font-weight: bold;">Consulted</p>
      <div class="mb-3">
        <button id="download-button<%=el._id%>" class="btn btn-primary mt-3">Download Report</button>
      </div>
      
    </div>
  </div>
  
    <%}) %> 
    <% } %> 
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </script>
  <script>
    const button = document.getElementById("download-button<%=result._id%>");
    function invoice(id) {
        // Choose the element that your content will be rendered to.
        const element = document.getElementById("invoice"+id);
        // Choose the element and save the PDF for your user.
        html2pdf().from(element).save();
    }
    button.addEventListener('click', generatePDF);
 </script>

<!-- footer -->
<%- include('../partials/footer.ejs') %>